@font-face {
    font-family: "AvenirNext";
    src: url("../font/Avenir-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }


* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body {
    font-family: "AvenirNext";
}

a {
    color: rgb(75, 74, 74);
    transition: 1s;

}

.header-bg {
    background: url(../img/bg-city.png);
    background-repeat: no-repeat;
    height: 95vh;
    padding: 0;
    text-transform: uppercase;
    position: relative;
}

.header-bg::before {
    content: "";
    background: url(../img/blue-figure.png);
    background-repeat: no-repeat;
    background-size: 65% 100%;
    height: 100%;
    width: 100%;
    left: -10%;
    opacity: 0.8;
    position: absolute;
    top: 0;
}

a:hover {
    text-decoration: none;
    color: rgb(71, 71, 71);

}

/* ~~~~~~~~~~~~~~~~~~~~~~ MAIN NAVBAR ~~~~~~~~~~~~~~~~~~~~~~ */

.main-navbar {
    height: 100px;
    background: transparent !important;
    /* z-index: 20; */
    padding: 0 40px;
    z-index: 50;
    font-size: 0.8em;

}

.nav-links,
.main-nav-items {
    padding: 15px 0px;
    color: #fff;
    position: relative;
}

.nav-links{
    background: linear-gradient(#ff9100, #ff6600) bottom / 0 .1em no-repeat;
    transition: 1s background-size;
    white-space: nowrap;
}


.nav-links:hover {
	background-size: 60% .1em;
}

.navbar-collapse{
    transition: 1s ease-in-out;
    display: flex;
    align-items: center;
    /* justify-content: center!important; */
}

@media (min-width){
    .navbar-nav{
        background: rgba(0, 0, 0, 0.534)!important;

    }
}



/* ~~~~~~~~~~~~~~~~~~~~~~ FIND OFFICE ~~~~~~~~~~~~~~~~~~~~~~ */

.find-office {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin-left: 3rem;
}

/* ~~~~~~~~~~~~~~ FIND OFFICE TEXT ~~~~~~~~~~~~~~ */

.big-h {
    font-size: 4rem;
    display: block;
    margin: 0;
}

.find-office-description {
    max-width: 500px;
    font-size: 1.1em;
    margin-top: 15px;
    position: relative;
    left: 15px;
}

.find-office-description::before {
    content: "";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0px;
    width: 2px;
    background: rgb(255, 255, 255);
}

/* ~~~~~~~~~~~~~~ FIND OFFICE DISTRICT SELECT ~~~~~~~~~~~~~~ */

.district-select {
    cursor: pointer;
    border-radius: 50px;
    color: #2d3b61;
    font-size: 18px;
    outline: transparent;
    /* padding: 16px 20px; */
    margin-top: 20px;
    text-transform: uppercase;
    width: 400px;
}

/* ~~~~~~~~~~~~~~ FIND OFFICE RANGE ~~~~~~~~~~~~~~ */

/* .range-wrap {
    width: 400px;
}

#space-slider .slider-selection,
.slider-handle,
#budget-slider .slider-selection {
    background: linear-gradient(to right, #ff9100, #ff6600) 100% 50% / 100% transparent;
}

.range-label {
    margin-top: 30px;
}


#space-slider,
#budget-slider {
    width: 100%;

}

#space-slider.slider-handle {
    position: relative;
}

#space-slider>div.min-slider-handle::after {
    content: "kkk";
    display: block;
    margin: 20px 0;
} */





/* .range-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
}

.range-wrapper .range-label,
.range-wrapper .range-input,
.range-wrapper .double-range {
    margin: 10px 0;
}

.range-wrapper .range-value,
.range-wrapper .range-value-group {
    display: flex;
    flex-direction: row;
    text-transform: initial;
}

.range-wrapper .range-value {
    justify-content: flex-end;
}

.range-wrapper .range-value-group {
    justify-content: space-around;
}

sup {
    vertical-align: super;
    font-size: 0.6em;
}

.range-input {
    -webkit-appearance: none;
    -moz-apperance: none;
    background: transparent;
    position: relative;
    width: 100%;
    margin: 0;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
}

.range-input::before,
.range-input::after {
    content: "";
    position: absolute;
    background: #ffffff;
    height: 15px;
    width: 3px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.range-input::before {
    left: 0;
}

.range-input::after {
    right: 0;
}

.range-input:focus {
    outline: none;
}

.range-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    background: linear-gradient(to left, #ff5400, #ff881a) 100% 50%/100% 3px no-repeat transparent;
}

.range-input::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none !important;
    appearance: none;
    height: 15px;
    width: 15px;
    background: #ff5400;
    border-radius: 100%;
    border: 0;
    top: 50%;
    margin-top: -7.5px;
    pointer-events: all;
    position: relative;
    z-index: 1000;
}

.range-input::-moz-range-track,
.range-input::-moz-range-progress {
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, #ffffff, #ffffff) 100% 50%/100% 3px no-repeat transparent;
}

.range-input::-moz-range-progress {
    background: linear-gradient(to left, #ff5400, #ff881a) 100% 50%/100% 3px no-repeat transparent;
}

.range-input::-moz-range-thumb {
    appearance: none;
    margin: 0;
    height: 15px;
    width: 15px;
    background: #ff5400;
    border-radius: 100%;
    border: 0;
    z-index: 1000;
    pointer-events: all;
    position: relative;
}

.range-input::-ms-track {
    width: 100%;
    height: 20px;
    border: 0;
    color: transparent;
    background: transparent;
}

.range-input::-ms-fill-lower {
    background: linear-gradient(to left, #ff5400, #ff881a) 100% 50%/100% 3px no-repeat transparent;
}

.range-input::-ms-fill-upper {
    background: linear-gradient(to bottom, #ffffff, #ffffff) 100% 50%/100% 3px no-repeat transparent;
}

.range-input::-ms-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    background: #ff5400;
    border-radius: 100%;
    border: 0;
    top: 0;
    margin: 0;
    box-shadow: none;
    z-index: 1000;
    pointer-events: all;
    position: relative;
}

.double-range {
    position: relative;
    height: 23px;
}

.double-range .range-input {
    position: absolute;
    pointer-events: none;
    z-index: 1;
} */



/* ~~~~~~~~~~~~~~ FIND OFFICE BUTTON ~~~~~~~~~~~~~~ */


.btn-custom {
    background: linear-gradient(to left, #ff9100, #ff6600) 100%;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    outline: transparent;
    padding: 15px 50px;
    text-transform: uppercase;
    /* margin-top: 10px; */
}

.btn-custom:hover {
    background: linear-gradient(to left, #fd960e, #fd7215) 100%;
    color: #fff;
    /* opacity: 0.9; */
}


/* ~~~~~~~~~~~~~~ FIND OFFICE MAP ~~~~~~~~~~~~~~ */

.find-office-map {
    position: absolute;
    width: 430px;
    top: 120px;
    left: 550px;
}

.district {
    fill: #fff;
    transition: 1s;
    cursor: pointer;
}

.district-active {
    fill: #ffa600;
}

.find-office-map svg .rotate {
    transform: rotate(54deg);
}

.find-office-map svg text {
    font-size: 12px;
    transition: .5s;

}

.find-office-map svg .text-map-active {
    fill: #ffffff;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

main {
    color: rgb(75, 74, 74);
}

.title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 55px 0;
    width: 100%;
}

.title-wrap .title-sec {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    position: relative;
}

.title-wrap .title-sec::after,
.title-sec::before {
    background-image: linear-gradient(to bottom, #ff5400 0%, #ff881a 100%);
    left: -40px;
    top: 20px;
    content: "";
    height: 44px;
    position: absolute;
    width: 6px;
    transform: rotate(-35deg);
}

.title-wrap .title-sec::before {
    left: -35px;
    top: 0px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~ OFFERS SECTION ~~~~~~~~~~~~~~~~~~~~~~ */


.top-offers {
    width: 100%;
}

.top-offers a:hover {
    color: rgb(255, 67, 9);
    transition: 1s;

}

.top-offers-art {
    max-width: 430px;
    margin: 10px 5px 30px 5px;
    /* position: relative; */
}

.top-offers-fig {
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
}

a:hover .overlay {
    opacity: .2;
    transition: 1.5s;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(255, 66, 9);
}






.top-offers-img {
    object-fit: cover;
    width: 100%;
}

.offers-etiq {
    color: #ffffff;
    left: 0;
    padding: 5px 20px;
    position: absolute;
    z-index: 1000;
    font-size: 18px;

}

.top-offers-place {
    top: 0;
    text-transform: uppercase;
    background: #707070;
}


.top-offers-area {
    bottom: 76px;
    /* font-size: 18px; */
    background: rgba(0, 0, 0, 0.8);
}

.top-offers-name {
    background-image: linear-gradient(to right, #ff5400 0%, #ff881a 100%);
    bottom: 36px;
    text-transform: uppercase;
    font-size: 20px;
}

.top-offers-area::after,
.top-offers-name::after,
.top-offers-place::after {
    content: "";
    position: absolute;
    top: 0;
    right: -38px;
    width: 0;
    height: 100%;
    border-style: solid;
    border-width: 37px 0 0 39px;
    border-color: transparent;
}


.top-offers-area::after {
    border-left-color: rgba(0, 0, 0, 0.8);
}

.top-offers-name::after {
    /* border-width: 41px 0 0 28px; */
    border-left-color: #ff881a;
    /* right: -28px; */
}

.top-offers-place::after {
    border-left-color: #707070;
}

.top-offers-text {
    font-size: 15px;
    line-height: 1.3;
    margin-top: 28px;
    text-align: justify;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

/* ~~~~~~~~~~ ABOUT US ~~~~~~~~~ */
.about-us-text {
    text-align: center;
    margin-bottom: 50px;
}

/* ~~~~~~~~~~ FROM MARKET ~~~~~~~~~ */

.market-list-item {
    list-style: none;
}

.market-list-item::before {
    content: "\2022";
    color: rgb(255, 67, 9);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


.market-list-item a {
    color: rgb(75, 74, 74);
}

.market-list-item a:hover {
    color: rgb(255, 67, 9);
}

.market-cards {
    margin-bottom: 20px;
}

.card-margin {
    margin-bottom: 15px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.small-h {
    font-size: 2.2rem;
    display: block;
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

/* ~~~~~~~~~TRUST US BRADS ~~~~~~~~~~ */
.trust-brand-img {
    height: 55px;
    /* padding: 0 10px; */
}

.trust-brand-img:nth-of-type(2n) {
    height: 40px;
}

.trust-brand-list {
    margin-bottom: 60px;
    /* padding: 0 50px; */
}

/* ~~~~~~~~~CONTACT FORM ~~~~~~~~~~~~*/

.contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/office.png);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.contact-form {
    align-items: center;
    padding-bottom: 50px;
}

.contact-form-item{
    margin: 15px 0px;
    margin-right: 10px; 
    height: 40px;
    /* width: 250px; */
    border-radius: 50px;
}
.input-wrap{
    margin: 0;
    padding: 0;
}
.range-wrap{
    width: 30%;

}

@media (max-width: 600px){
    .contact-form-item{
        margin-right: 0px; 
        width: 80%;
    }
    .input-wrap{
        margin: 0;
        padding: 0;
    }
    .range-wrap{
        width: 80%;
    
    }
}

.contact-button {
    font-size: 21px;
}

.contact-checkbox {
    margin-left: 55px;
    font-size: 18px;
    position: relative;
}

.contact-checkbox::before {
    background: #ffffff;
    border-radius: 6px;
    content: "";
    height: 26px;
    left: -2px;
    position: absolute;
    top: 5px;
    width: 26px;
}

.contact-checkbox input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    z-index: -1000;
}

.contact-checkbox input[type="checkbox"]+label {
    background-repeat: no-repeat;
    background-position: 0 -50px;
    background-image: url(../img/check.png);
    cursor: pointer;
    display: inline-block;
    padding-left: 55px;
    position: relative;
    vertical-align: middle;
    z-index: 10;
}

.contact-checkbox input[type="checkbox"]:checked+label {
    background-position: 0 0;
}

@media (max-width: 1200px) {
    .contact__inputs {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (max-width: 560px) {
    .contact__send {
        flex-direction: column;
    }

    .contact__send-checkbox {
        margin-left: 0;
        margin-top: 30px;
    }
}
 



/* ~~~~~~~~~~~FOOTER ~~~~~~~~~~~~~~ */
footer {
    background: #4d4d4d;
    color: #ffffff;
    font-size: 17px;
    padding: 32px 0;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links {
    margin-bottom: 15px;
}

.footer-links-item {
    padding: 0 5px;
    color: #fff;
}

.footer-links-item:hover {
    color: rgb(255, 126, 6);
}

.footer-links-item:nth-child(1) {
    border-right: 1px solid #ffffff;
    padding-left: 0;
    padding-right: 8px;
}

@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
        align-items: flex-start;
    }
}